/* RecipePage.css */

.recipe-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr; /* Two-column layout */
    gap: 20px;
    color: #756E6A;
    margin-bottom: 5%;
}

h2 {
    color: #83926E;
    margin-bottom: 10px;
    font-weight: normal;
}

ul, ol {
    margin: 10px 0;
    padding-left: 20px;
}

ul li, ol li {
    line-height: 2;
}

h1 {
    grid-column: span 2; /* Title spans both columns */
    font-size: 2rem;
    text-align: center;
    color: #DA8359;
    padding-bottom: 2%;
}

.suggest-ingredients {
    padding-top: 10%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 10px;

    max-width: 90%;
    margin: 0 auto;
    box-sizing: border-box;

    margin-bottom: 3%;

}

.logo {
    width: 18rem;
    height: auto;
    cursor: pointer;
    margin-right: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding: 0;

}

.header-content {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-grow: 1;
    max-width: 100%;
    margin-top: 0.8rem;
}


.input-field {
    flex: 1;
    min-width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
    font-size: 1rem;
    box-sizing: border-box;
}

.dropdown-container {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* 增加 select 元素之間的間隙 */
    width: 100%;
    margin: 3% 0; /* 增加整體上下的間距 */
}

.dropdown {
    flex: 1; /* 讓 select 元素能根據容器寬度自適應 */
    max-width: 48%; /* 控制兩個 select 的寬度以避免溢出 */
    padding: 10px;
    border-radius: 50px;
    font-size: 1rem;
    box-sizing: border-box;
}

.generate-button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #DA8359;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    white-space: nowrap;

}

.generate-button:hover {
    background-color: #fff;
    color: #DA8359;
}

/* Left Column - Ingredients */
.left-section {
    padding-right: 20px;
    border-right: 3px solid #ECDFCC;
}

.left-section h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.left-section ul {
    list-style-type: circle;
}

/* Right Column - Instructions */
.right-section {
    padding-left: 20px;
}
.right-section h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.right-section ol {
    list-style-type: decimal;
}

/* Responsive Design */
@media (max-width: 768px) {
    .recipe-page {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        margin-bottom: 3rem;
    }

    h1 {
        font-size: 1.3rem;
        text-align: center;
        margin: 0 1rem;
    }


    .header {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 3rem;
    }

    .logo {
        width: 15rem;
        height: auto;
        padding: 0;
        margin: 2rem auto;
    }

    .header-content {
        flex-direction: column;
        gap: 0.3rem;
        width: 100%;
    }

    .input-field {
        width: 100%;
        font-size: 1rem;
    }
    .dropdown-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 5%;
        margin-bottom: 10%;
        padding: 0;
        box-sizing: border-box;
    }
    
    .dropdown {
        flex: 1;
        max-width: 50%;
        margin: 0;
        padding: 8px;
        font-size: 0.8rem;
        box-sizing: border-box;
    }
    
    .generate-button {
        width: 50%;
        font-size: 0.8rem;
        margin: 0;
    }


    .left-section,
    .right-section {
        padding: 0;
        border: none;
    }

    .left-section h2 {
        font-size: 1.2rem;
    }

    ul,
    ol {
        padding-left: 1.2rem;
    }

    ul li,
    ol li {
        line-height: 1.8;
        font-size: 1rem;
    }
}

@keyframes pulse {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: 0.25;
      transform: scale(0.75);
    }
  }
  
  /* PULSE BUBBLES */
  .spinner-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 全屏高度，確保動畫置中 */
    width: 100%;
    position: fixed; /* 固定位置，確保動畫在螢幕中央 */
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9); /* 背景遮罩，增加專注度 */
    z-index: 999; /* 確保在其他元素之上 */
}

/* Pulse Container */
.pulse-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12rem;
}
  
  .pulse-bubble {
    width: 3rem;
    height: 3rem;
  }
  
  .pulse-bubble-1 {
      animation: pulse 0.6s ease 0s infinite alternate;
  }
  .pulse-bubble-2 {
      animation: pulse 0.6s ease 0.3s infinite alternate;
  }
  .pulse-bubble-3 {
      animation: pulse 0.6s ease 0.6s infinite alternate;
  }